@model IEnumerable<TimesMVC.Core.Entities.Classificado>

@{
    ViewData["Title"] = "Times da API";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Criacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premio)
                </td>
            </tr>
        }
    </tbody>
</table>