@model IEnumerable<TimeMVC.ViewModels.TimeViewModel>

@{
    ViewData["Title"] = "Times";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-default">Create New Time</a>
    <a asp-action="Classificados" class="btn btn-default">Consumir API de Classificados</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fundado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fundado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

        }
    </tbody>

</table>